
.root { /* styles the root node */
	-fx-background-color:lightgray ;
}

#mainWindow {
	-fx-background-color: whitesmoke;
}

#vScroll {
	-fx-background-color: whitesmoke;
}

#seenMessageLine {
	-fx-border-color: lightgray;
}

#seenMessageLine:hover{
	-fx-border-color: darkgray;
	-fx-background-color: lightgray;
}

#unseenMessageLine {
	-fx-border-color: lightgray;
	-fx-font-weight: bold;
}

#unseenMessageLine:hover{
	-fx-border-color: darkgray;
	-fx-background-color: lightgray;
}
