#mainWindow {
	-fx-background-color: whitesmoke;
}

#vScroll {
	-fx-background-color: lightgray;
}

#seenMessageLine:hover{
	-fx-border-color: darkgray;
	-fx-background-color: lightgray;
}

#unseenMessageLine {
	-fx-font-weight: bold;
}

#unseenMessageLine:hover{
	-fx-border-color: darkgray;
	-fx-background-color: lightgray;
}

.messageLine{
	-fx-font-size: 14;
	-fx-padding:8 20 8 20;
	-fx-border-color: lightgray; /* moved this here from #seen and #unseen */
}

.tab:hover{
	-fx-font-weight: bold;
}

.tab:selected{
	-fx-font-weight: bold;
}

.tab{
	-fx-font-size: 18;
	-fx-padding:10 15 10 15;
	-fx-background-radius: 10 10 0 0;
}

.tabPane{
	-fx-background-color: lightgray;
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-border-color: darkgray;
}